  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 12px;
    font-family: 	Copperplate;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    padding: 11px;
    margin-left: 142.5px;
  }

  .nav-items {
    position: relative;
    word-spacing: 25.5px;
    text-decoration: none;
    font-size: 14px;
    right: 100px;
    color: rgb(1, 41, 6);
    text-transform: none;
    font-family: 'Times New Roman', Times, serif;
  }

  .body {
    text-align: center;
    background-image: linear-gradient(to bottom right, rgb(255, 89, 89), rgb(0, 0, 0));
    font-family: sans-serif;
    font-size: 1.5em;
    text-align: left;
    padding-left: 74px;
    block-size: 285px;
  }

  .text {
    padding: 80px;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 50px;
    margin-bottom: -64px;
  }

  .txt {
    font-size: 28px;
    padding-left: 70px;
    color: rgb(243, 255, 107);
  }

  .earth{
    position: absolute;
    margin-top: 68px;
    padding-left: 1209px;
    transform: rotate(-23deg);
  }
  
  .head{
      margin-top: 35px;
      padding-left: 120px;
  }
 
  .topics{
    font-weight: bold;
  }
  
  .forms {
    margin-top: 16px;
    padding-left: 120px;
  }

  .forms2 {
    margin-top: -255px;
    padding-left: 535px;
  }

  .forms3 {
    margin-top: -255px;
    padding-left: 950px;
  }

  .additional{
    margin-top: 18px;
    display: inline-block;
    border: 1px solid rgb(153, 0, 0);
    padding: 20px;
  }

  .additional2{
    margin-top: 18px;
    display: inline-block;
    border: 1px solid rgb(153, 0, 0);
    padding: 20px;
  }

  .additional3{
    margin-top: 15px;
    display: inline-block;
    border: 1px solid rgb(153, 0, 0);
    padding: 20px;
  }

  .main{
    position:absolute;
    margin-top: 28px;
    padding-left: 20px;
  }

  .main2{
    position:absolute;
    margin-top: 28px;
    padding-left: 20px;
  }

  .main3{
    position:absolute;
    margin-top: 25px;
    padding-left: 20px;
  }
 
 