  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 12px;
    font-family: 	Copperplate;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    padding: 11px;
    margin-left: 142.5px;
  }

  .nav_header {
    display:fixed;
}

  .nav-items {
    display: flex;
    position: relative;
    text-decoration: none;
    font-size: 14px;
    right: 190px;
    color: rgb(1, 41, 6);
    text-transform: none;
    font-family: 'Times New Roman', Times, serif;
    list-style-type: none;
    text-indent: 250%;
  }

  .welcome_header {
    text-align: center;
    background-image: linear-gradient(to bottom right, rgb(255, 89, 89), rgb(0, 0, 0));
    font-family: sans-serif;
    font-size: 1.5em;
    text-align: left;
    padding-left: 74px;
    block-size: 285px;
  }

  .text {
    padding: 80px;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 50px;
    margin-bottom: -64px;
  }

  .txt {
    font-size: 28px;
    padding-left: 70px;
    color: rgb(243, 255, 107);
  }

  .earth{
    position: absolute;
    margin-top: 68px;
    padding-left: 1209px;
    transform: rotate(-23deg);
  }
  
  .head{
      margin-top: 35px;
      padding-left: 120px;
  }
 
  .topics{
    margin-top: 45px;
    font-size: 45px;
  }

  .additional{
    display: inline-block;
    margin-left: 120px;
    margin-top: 45px;
    border: 1px solid rgb(153, 0, 0);
    padding: 25px;
    font-size: 25px;
  }

  .main{
    margin-top: 5px;
  }

  .additional2{
    display: inline-block;
    margin-left: 120px;
    border: 1px solid rgb(153, 0, 0);
    padding: 40px;
    font-size: 25px;
  }

  .additional3{
    display: inline-block;
    margin-left: 120px;
    border: 1px solid rgb(153, 0, 0);
    padding: 40px;
    font-size: 25px;
  }


 
